body {
  padding-top: 20px;
}
label {
  display: inline-block;
}
pre {
  font-size: 12px;
}
input[type=number] {
  width: 100px;
  display: inline-block;
}
.cabecera {
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
}
.activo {
  font-weight: bold;
}
